@media only screen and (min-width: 1920px) {

}

body {
	margin: 0;
}

#lgu-header-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	div {
		width: 100%;
	}

	#lgu-main-nav-container {
		display: flex;
		//height: 50px;
		overflow: hidden;
		background-color: #668fed;

		#lgu-logged-in-user-menu {
			flex-direction: row;
			display: flex;
			flex-direction: column;
			align-items: center;

			img {
				height: 50px;
				width: 50px;
			}
		}
	}
}